@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-primary: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eff6f8;
    --foreground: #171717;
    --font-primary: var(--font-plus-jakarta-sans);
  }
}

*{
  margin: 0;
  padding: 0;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-plus-jakarta-sans);
}
.active {
  background: #eff6f8;
  color: #796FAB;
}
.active svg path {
  fill: #796FAB !important;
}
.container {
  width: 1240px !important;
  margin: 0 auto;
}
.progress::-webkit-progress-value {
  background-color: #796FAB !important;
}
.bottom-active {
  transform: scale(115%) !important;
  background: #796fab;
  color: #EFF6F8 !important;
  border: 2px solid #ffffff;
}
.bottom-active svg path {
  fill: #EFF6F8 !important;
  stroke: #EFF6F8 !important;
}
.bottom-active small {
  display: block;
}
.details::-webkit-scrollbar {
  display: none !important;
}
textarea.resize-none {
  resize: none !important;
}
.overflow-y-scroll::-webkit-scrollbar, .overflow-scroll::-webkit-scrollbar {
  display: none !important;
  /* opacity: 0.0000001 !important; */
}
@media screen and (max-width: 1023px) {
  .container {
    width: 85% !important;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: 90% !important;
  }
}